mixin icon(iconName)
    .icon(class='.icon--'+iconName)
        svg
            use(xlink:href="#"+iconName)
doctype html
<!--[if IE 9 ]><html dir="ltr" lang="ru" class="ie9"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
html(dir="ltr" lang="en")
<!--<![endif]-->
    block layout-settings
        - var pageTitle = 'Courses'

    block visible
        head
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1")
            meta(name="apple-mobile-web-app-status-bar-style", content="black")
            meta(name="apple-mobile-web-app-capable", content="yes")
            meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
            title #{pageTitle}
            meta(name="apple-mobile-web-app-title" content="#{pageTitle}")
            //--- Fonts ---//

            //--- Styles ---//
            link(rel='stylesheet', href='./static/css/main.css')

    body
        include ../blocks/graphics/svg-sprite.pug

        block body
            .page
                include ../blocks/common/header.pug
                .content
                    block content
                    block aside
                        include ../blocks/common/aside-nav.pug
                include ../blocks/common/footer.pug
            block modals
        block scripts
            script.
                function loadLocal(name) {
                    console.log('Failed to load external! TODO - polyfill', name)
                }
            script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"  onerror="loadLocal('jquery')")
            script.
                function Nav() {
                    this.$win =  $(window);
                    this.$htmlBody = $('html, body');
                    this.$el = $('.aside-nav');
                    this.mobileBtnSelector = '.aside-nav__btn';
                    this.$mobileBtn = $(this.mobileBtnSelector);
                    this.$parent = this.$el.prev();
                    this.$footer =  $('footer');
                    this.initialText = this.$mobileBtn.text();
                    this.closeText = this.$mobileBtn.data('closeText');
                    this.mobileBreakpoint = 900;


                    this.init = function() {
                        this.setAttrs();
                        this.stick();
                        this.mobile();
                        this.$win.resize(function(){
                            this.setAttrs();
                        }.bind(this));
                    }

                    this.setAttrs = function() {
                        this.offsetTop = this.$el.offset().top;
                        this.height = this.$el.height();
                        this.parentHeight = this.$parent.height();
                        this.footerOffset = this.$footer.offset().top;
                        this.offsetBottom = this.footerOffset - this.height;
                        this.isMobile = $('body').width() <= this.mobileBreakpoint;
                    }

                    this.stick = function() {
                        var lastScrtop = 0;
                        var scrollDirection = 'down';

                        this.$win.scroll(function () {

                                scrtop = this.$win.scrollTop();
                                scrollDirection = (scrtop > lastScrtop) ? 'down' : 'up';
                                lastScrtop = scrtop;
                                this.styleStick(scrollDirection, scrtop)

                        }.bind(this));
                    }

                    this.styleStick = function(direction, scrolled) {
                        //- if (isTouch) return;
                        if (this.height > this.parentHeight) {
                            console.log('bigger than prev');
                            this.$el.removeClass('--sticky');
                            return;
                        }

                        var isSticky = this.$el.hasClass('--sticky');
                        this.$el.addClass('--sticky');

                        setTimeout(function(){
                            if (!isSticky) this.setAttrs(); /* Height might change after position changes */

                            if (this.offsetTop > scrolled) {
                                this.$el.removeClass('--fixed');
                                this.$el.removeClass('--bottom');
                            } else if (scrolled > this.offsetTop && scrolled < this.offsetBottom) {
                                if (direction === 'down' && !this.isMobile) {
                                    this.$el.addClass('--fixed');
                                    this.$el.addClass('--bottom');
                                } else {
                                    this.$el.addClass('--fixed')
                                    this.$el.removeClass('--bottom');
                                }

                            } else {
                                this.$el.removeClass('--fixed');
                                this.$el.addClass('--bottom');
                            }

                        }.bind(this), 0);
                    }

                    this.mobile = function() {
                        this.$el.on('click', this.mobileBtnSelector, function() {
                            if (this.$el.hasClass('--hidden-mobile')) {
                                this.$htmlBody.animate({
                                        scrollTop: this.offsetTop - 50
                                }, 300);
                                this.$mobileBtn.text(this.closeText);
                                this.$mobileBtn.addClass('--close');
                            } else {
                                this.$mobileBtn.text(this.initialText);
                                this.$mobileBtn.removeClass('--close');
                            }
                            this.$el.toggleClass('--hidden-mobile');
                            setTimeout(function(){
                                this.$mobileBtn.blur();
                            }.bind(this), 500);
                        }.bind(this));
                    }

                }
                var isTouch = false;
                $(document).one('touchstart', function(){
                    $('html').addClass('is-touch');
                    isTouch = true;
                });

                var nav = new Nav();
                nav.init();

