mixin icon(iconName)
    .icon(class='.icon--'+iconName)
        svg
            use(xlink:href="#"+iconName)
doctype html
<!--[if IE 9 ]><html dir="ltr" lang="ru" class="ie9"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
html(dir="ltr" lang="en")
<!--<![endif]-->
    block layout-settings
        - var pageTitle = 'Courses'

    block visible
        head
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1")
            meta(name="apple-mobile-web-app-status-bar-style", content="black")
            meta(name="apple-mobile-web-app-capable", content="yes")
            meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
            title #{pageTitle}
            meta(name="apple-mobile-web-app-title" content="#{pageTitle}")
            //--- Fonts ---//

            //--- Styles ---//
            link(rel='stylesheet', href='./static/css/main.css')

    body
        include ../blocks/graphics/svg-sprite.pug

        block body
            .page
                include ../blocks/common/header.pug
                .content
                    block content
                    block aside
                        include ../blocks/common/aside-nav.pug
                include ../blocks/common/footer.pug
            block modals
        block scripts
            script.
                function loadLocal(name) {
                    console.log('Failed to load external! TODO - polyfill', name)
                }
            script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"  onerror="loadLocal('jquery')")
            script.
                function stick(options) {
                    // TODO: refactor + make it responsive (recalc height & offsets)
                    var $stick = $('aside');
                    var height = $stick.height();

                    if (height > $stick.prev().height()) {
                        console.log('bigger than prev');
                        return;
                    }

                    $stick.addClass('--sticky');

                    var $foot = $('footer');
                    var offtop = $stick.offset().top;
                    var offbtm = $foot.offset().top - height;

                    $(window).resize(function(){
                        var offtop = $stick.offset().top;
                        var offbtm = $foot.offset().top - height;
                    });

                    function styleStick(direction, scrtop) {
                        if (offtop > scrtop) {
                            $stick.css({
                                top: '',
                                bottom: '',
                                position: ''
                            });
                          } else if (scrtop > offtop && scrtop < offbtm ) {
                            if (direction === 'down') {
                                $stick.css({
                                    top: 'auto',
                                    bottom: 0,
                                    position: 'fixed'
                                })
                            } else {
                                $stick.css({
                                    top: '',
                                    bottom: '',
                                    position: 'fixed'
                                });
                            }

                          }  else {
                                $stick.css({
                                    top: 'auto',
                                    bottom: 0,
                                    position: ''
                                });
                          }
                    }

                    var lastScrtop = 0;
                    var scrollDirection = 'down';
                    var scrollTimer;
                    $(window).scroll(function () {
                        clearTimeout(scrollTimer);
                        scrollTimer = setTimeout(function(){
                            scrtop = $(window).scrollTop();
                            scrollDirection = (scrtop > lastScrtop) ? 'down' : 'up';
                            lastScrtop = scrtop;
                            styleStick(scrollDirection, scrtop)
                        }, 0);
                    });
                 }
                 stick();



