-
    var animations = {
        page: 'animations',
        href: 'animations.html',
        title: 'Анимации и эффекты',
        tech: ['css'],
        subthemes: {
            transition: {
              title: 'Плавные переходы',
              href: 'transition'
            },
            transitionProperty: {
              title: 'Анимируемое свойство',
              href: 'transitionProperty'
            },
            transitionDuration: {
              title: 'Длительность перехода',
              href: 'transitionDuration'
            },
            transitionTimingFunction: {
              title: 'Функция перехода',
              href: 'transitionTimingFunction'
            },
            transitionDelay: {
              title: 'Задержка перехода',
              href: 'transitionDelay'
            },
            transitionShort: {
              title: 'Краткая запись перехода',
              href: 'transitionShort'
            },
            transitionMulti: {
              title: 'Плавный переход нескольких свойств',
              href: 'transitionMulti'
            },
            translateVSposition: {
              title: 'translate() лучше, чем position: absolute top/left',
              href: 'translateVSposition'
            },
            animation: {
              title: '@keyframes анимация',
              href: 'animation'
            },
            keyframes: {
              title: 'Правило @keyframes',
              href: 'keyframes'
            },
            animationName: {
              title: 'Имя анимации',
              href: 'animationName'
            },
            animationDuration: {
              title: 'Длительность анимации',
              href: 'animationDuration'
            },
            animationTimingFunction: {
              title: 'Временная функция анимации',
              href: 'animationTimingFunction'
            },
            animationDelay: {
              title: 'Задержка анимации',
              href: 'animationDelay'
            },
            animationIterationCount: {
              title: 'Повтор анимации',
              href: 'animationIterationCount'
            },
            animationDirection: {
              title: 'Направление анимации',
              href: 'animationDirection'
            },
            animationFillMode: {
              title: 'Позиция после завершения анимации',
              href: 'animationFillMode'
            },
            animationPlayState: {
              title: 'Проигрывание анимации',
              href: 'animationPlayState'
            },
            animationShort: {
              title: 'Краткая запись анимации',
              href: 'animationShort'
            },
            animationMulti: {
              title: 'Множественые анимации',
              href: 'animationMulti'
            },
            showingMenu: {
              title: 'Плавное появление меню',
              href: 'showingMenu'
            },
            expandingBlock: {
              title: 'Плавное разворачивание блока',
              href: 'expandingBlock'
            },
            gradientsAnimation: {
              title: 'Анимация градиентов',
              href: 'gradientsAnimation'
            },
            bgScroll: {
              title: 'Смена фонов при скролле',
              href: 'bgScroll'
            }
        }
    }
