-
    var animations = {
        page: 'animations',
        href: 'animations.html',
        title: 'Анимации и эффекты',
        tech: ['css'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
