-
    var automation1 = {
        page: 'automation-part1',
        href: 'automation-part1.html',
        title: 'Web automation tools - часть 1. Возможности Chrome: developer tools, remote debugging, расширения',
        tech: ['tools'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
