-
    var automation2 = {
        page: 'automation-part2',
        href: 'automation-part2.html',
        title: 'Web automation tools - часть 2. Сборка проекта: пакетные менеджеры и билдеры.',
        tech: ['tools', 'pug', 'sass'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
