-
    var bordersShadowsGradients = {
        page: 'borders-shadows-gradients',
        href: 'borders-shadows-gradients.html',
        title: 'Рамки, тени, градиенты',
        tech: ['css'],
        subthemes: {
            borders: {
              title: 'Рамки',
              href: 'borders'
            },
            shadows: {
              title: 'Тени',
              href: 'shadows'
            },
            textShadows: {
              title: 'Текстовые тени',
              href: 'textShadows'
            },
            gradients: {
              title: 'Градиенты',
              href: 'gradients'
            }
        }
    }
