-
    var bordersShadowsGradients = {
        page: 'borders-shadows-gradients',
        href: 'borders-shadows-gradients.html',
        title: 'Рамки, тени, градиенты',
        tech: ['css'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
