-
    var cssFrameworks = {
        page: 'css-frameworks',
        href: 'css-frameworks.html',
        title: 'CSS фреймворки',
        tech: ['css', 'responsive', 'js'],
        subthemes: {
            frameworks: {
              title: 'Что такое фреймворки и зачем они нужны',
              href: 'frameworks'
            },
            bootstrap: {
              title: 'Bootstrap',
              href: 'bootstrap'
            },
            bootstrapIntegrity: {
              title: 'Подключение Bootstrap',
              href: 'bootstrapIntegrity'
            },
            bootstrapCustomize: {
              title: 'Кастомизация Bootstrap',
              href: 'bootstrapCustomize'
            },
            buttons: {
              title: 'Кнопки',
              href: 'buttons'
            },
            tables: {
              title: 'Таблицы',
              href: 'tables'
            },
            forms: {
              title: 'Формы',
              href: 'forms'
            },
            type: {
              title: 'Оформление текста',
              href: 'type'
            },
            grid: {
              title: 'Сеточная система',
              href: 'grid'
            },
            dropdown: {
              title: 'Выпадающие списки',
              href: 'dropdown'
            },
            modal: {
              title: 'Модальные окна',
              href: 'modal'
            },
            tabs: {
              title: 'Табы',
              href: 'tabs'
            }
        }
    }
