-
    var cssFrameworks = {
        page: 'css-frameworks',
        href: 'css-frameworks.html',
        title: 'CSS фреймворки',
        tech: ['css', 'responsive', 'js'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
