-
    var cssBasics = {
        page: 'css-basics',
        href: 'css-basics.html',
        title: 'Основы CSS. CSS-именования (БЭМ) vs CSS-фреймворки',
        tech: ['css'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
