-
    var cssBasics = {
        page: 'css-basics',
        href: 'css-basics.html',
        title: 'Основы css',
        tech: ['css'],
        subthemes: {
            linkingStyles: {
                title: 'Способы подключения стилей',
                href: 'linkingStyles'
            },
            selectors: {
                title: 'Селекторы',
                href: 'selectors'
            },
            combinators: {
                title: 'Комбинаторы',
                href: 'combinators'
            },
            specificity: {
                title: 'Каскад и специфичность',
                href: 'specificity'
            },
            reset: {
                title: 'Reset и Normalize',
                href: 'reset'
            },
            pseudoelements: {
                title: 'Псевдоэлементы',
                href: 'pseudoelements'
            },
            pseudoClassesCondition: {
                title: 'Псевдоклассы состояния',
                href: 'pseudoClassesCondition'
            },
            pseudoClassesForms: {
                title: 'Псевдоклассы форм',
                href: 'pseudoClassesForms'
            },
            pseudoClassesOrder: {
                title: 'Псевдоклассы порядка следования',
                href: 'pseudoClassesOrder'
            },
            pseudoClassesOther: {
                title: 'Другие псевдоклассы',
                href: 'pseudoClassesOther'
            },
            namingConventions: {
                title: 'Соглашения по именованию селекторов. БЭМ',
                href: 'namingConventions'
            }
        }
    }
