-
    var forms2 = {
        page: 'forms-part2',
        href: 'forms-part2.html',
        title: 'Формы - часть 1. Стилизация форм. Использование сторонних библиотек',
        tech: ['css', 'responsive', 'js'],
        subthemes: {
            theme: {
                title: '',
                href: ''
            }
        }
    }
