-
    var forms1 = {
        page: 'forms-part1',
        href: 'forms-part1.html',
        title: 'Формы - часть 1. Семантичные формы',
        tech: ['html'],
        subthemes: {
            nestedForms: {
                title: 'Вложенные формы запрещены',
                href: 'nestedForms'
            },
            tagsInForm: {
                title: 'Принадлежность тегов к форме',
                href: 'tagsInForm'
            },
            groupingTagsInForm: {
                title: 'Группировка тегов внутри формы',
                href: 'groupingTagsInForm'
            },
            inputAttributes: {
                title: 'Основные атрибуты input',
                href: 'inputAttributes'
            },
            inputTypes: {
                title: 'Типы input',
                href: 'inputTypes'
            },
            autocomplete: {
                title: 'Автозаполнение',
                href: 'autocomplete'
            },
            label: {
                title: 'Label',
                href: 'label'
            },
            radio: {
                title: 'Группировка radio по атрибуту name',
                href: 'radio'
            },
            checked: {
                title: 'checkbox и radio - выбор по-умолчанию',
                href: 'checked'
            },
            buttons: {
                title: 'Кнопки',
                href: 'buttons'
            },
            textarea: {
                title: 'textarea - поле для многострочного ввода',
                href: 'textarea'
            },
            select: {
                title: 'select - выбор из выпадающего списка',
                href: 'select'
            }
        }
    }
