-
    var forms2 = {
        page: 'forms-part2',
        href: 'forms-part2.html',
        title: 'Формы - часть 2. Стилизация форм',
        tech: ['css', 'responsive', 'js'],
        subthemes: {
            defaultLookInput: {
                title: 'Стандартные стили браузеров - текстовое поле',
                href: 'defaultLookInput'
            },
            defaultLookInputReset: {
                title: 'Сброс стандартных стилей - input',
                href: 'defaultLookInputReset'
            },
            defaultLookButtonReset: {
                title: 'Сброс стандартных стилей - button',
                href: 'defaultLookButtonReset'
            },
            placeholderStyling: {
                title: 'Стилизация placeholder',
                href: 'placeholderStyling'
            },
            validation: {
                title: 'Стилизация валидации',
                href: 'validation'
            },
            textareaStyling: {
                title: 'Стилизация textarea',
                href: 'textareaStyling'
            },
            defaultLookCheckboxRadio: {
                title: 'Стандартные стили браузеров - checkbox и radio',
                href: 'defaultLookCheckboxRadio'
            },
            checkboxStyling: {
                title: 'Стилизация checkbox и radio',
                href: 'checkboxStyling'
            },
            selectStyling: {
                title: 'Стилизация select',
                href: 'selectStyling'
            }
        }
    }
