-
    var forms1 = {
        page: 'forms-part1',
        href: 'forms-part1.html',
        title: 'Формы - часть 1. Обзор современных возможностей и ограничений',
        tech: ['html'],
        subthemes: {
            theme: {
                title: '',
                href: ''
            }
        }
    }
