-
    var git = {
        page: 'git',
        href: 'git.html',
        title: 'Git',
        tech: ['tools'],
        subthemes: {
            intro: {
              title: 'Системы контроля версий. Знакомство с Git',
              href: 'intro'
            },
            basic: {
              title: 'Основы работы с Git',
              href: 'basic'
            },
            branching: {
              title: 'Основы ветвления',
              href: 'branching'
            },
            remoteRepos: {
              title: 'Работа с удаленными репозиториями',
              href: 'remote-repos'
            }

        }
    }
