-
    var git = {
        page: 'git',
        href: 'git.html',
        title: 'Git',
        tech: ['tools'],
        subthemes: {
            theme: {
              title: 'SubT1',
              href: '#ff1'
            }, theme2: {
              title: 'SubT2',
              href: '#ff2'
            }
        }
    }
