-
    var graphicEditors = {
        page: 'graphic-editors',
        href: 'graphic-editors.html',
        title: 'Работа с макетом. Графические редакторы',
        tech: ['tools'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
