-
    var graphics2 = {
        page: 'graphics-part2',
        href: 'graphics-part2.html',
        title: 'Работа с графикой - часть 2. Фоновые изображения',
        tech: ['graphics', 'css'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
