-
    var graphics1 = {
        page: 'graphics-part1',
        href: 'graphics-part1.html',
        title: 'Работа с графикой - часть 1. Растр vs вектор. Иконки и контентные изображения',
        tech: ['graphics', 'css', 'html'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
