-
    var graphics2 = {
        page: 'graphics-part2',
        href: 'graphics-part2.html',
        title: 'Работа с графикой - часть 2. Фоновые изображения',
        tech: ['graphics', 'css'],
        subthemes: {
            background: {
              title: 'Цвет фона и фоновое изображение',
              href: 'background'
            },
            backgroundRepeat: {
              title: 'Повторение фонового изображения',
              href: 'backgroundRepeat'
            },
            backgroundPosition: {
              title: 'Позиционирование фонового изображения',
              href: 'backgroundPosition'
            },
            backgroundFixed: {
              title: 'Фиксированное фоновое изображение',
              href: 'backgroundFixed'
            },
            backgroundShort: {
              title: 'Сокращенная запись',
              href: 'backgroundShort'
            },
            backgroundMulti: {
              title: 'Множественный фон',
              href: 'backgroundMulti'
            },
            backgroundSize: {
              title: 'Размер фонового изображения',
              href: 'backgroundSize'
            },
            backgroundOrigin: {
              title: 'Границы фонового изображения',
              href: 'backgroundOrigin'
            },
            backgroundClip: {
              title: 'Обрезка фонового изображения',
              href: 'backgroundClip'
            },
            backgroundRetina: {
              title: 'Экраны с высоким разрешением',
              href: 'backgroundRetina'
            }
        }
    }
