-
    var graphics2 = {
        page: 'graphics-part2',
        href: 'graphics-part2.html',
        title: 'Работа с графикой - часть 2. Фоновые изображения. Responsive - изображения',
        tech: ['responsive', 'graphics', 'optimization'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
