-
    var graphics1 = {
        page: 'graphics-part1',
        href: 'graphics-part1.html',
        title: 'Работа с графикой - часть 1. Контентные изображения. Оптимизация изображений. Иконки',
        tech: ['graphics', 'css', 'html', 'responsive', 'optimization'],
        subthemes: {
            contentImages: {
              title: 'Контентные изображения',
              href: 'contentImages'
            },
            optimization: {
              title: 'Оптимизация изображений',
              href: 'optimization'
            },
            icons: {
              title: 'Иконки',
              href: 'icons'
            }
        }
    }
