-
    var htmlBasics = {
        page: 'html-basics',
        href: 'html-basics.html',
        title: 'Основы HTML',
        tech: ['html'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
