-
    var htmlBasics = {
        page: 'html-basics',
        href: 'html-basics.html',
        title: 'Основы HTML',
        tech: ['html', 'optimization'],
        subthemes: {
            structure: {
                title: 'Структура HTML документа. Head.',
                href: 'structure'
            },
            semantics: {
                title: 'Body. Семантика верхнего уровня. Блочные теги.',
                href: 'semantics'
            },
            sectioningContent: {
                title: "Sectioning Content и заголовки",
                href: "sectioningContent"
            },
            support: {
                title: "Браузерная поддержка и полифилы",
                href: "browserSupport"
            }
        }
    }
