-
    var htmlBasics = {
        page: 'html-basics',
        href: 'html-basics.html',
        title: 'Основы HTML',
        tech: ['html'],
        subthemes: {
            structure: {
                title: 'Структура HTML документа',
                href: 'structure'
            },
            semantics: {
                title: 'Семантика верхнего уровня. Блочные теги.',
                href: 'semantics'
            }
        }
    }
