-
    var layout1 = {
        page: 'layout-part1',
        href: 'layout-part1.html',
        title: 'Layout - часть 1. Размеры и взаимное расположение блоков',
        tech: ['html', 'css'],
        subthemes: {
            boxModel: {
                title: 'Боксовая модель',
                href: 'boxModel'
            },
            display: {
                title: 'Display',
                href: 'display'
            },
            flexBox: {
                title: 'Flex-box',
                href: 'flexBox'
            },
            position: {
                title: 'Позиционирование',
                href: 'position'
            },
            zIndex: {
                title: 'Z-index',
                href: 'zIndex'
            },
            opacity: {
                title: 'Opacity',
                href: 'opacity'
            },
            overflow: {
                title: 'Переполнение',
                href: 'overflow'
            }
        }
    }
