-
    var layout1 = {
        page: 'layout-part1',
        href: 'layout-part1.html',
        title: 'Layout - часть 1. Размеры и взаимное расположение блоков',
        tech: ['html', 'css'],
        subthemes: {
            boxModel: {
                title: 'Боксовая модель',
                href: 'boxModel'
            },
            blockInline: {
                title: 'Блочные и строчные элементы',
                href: 'blockInline'
            },
            marginCollapse: {
                title: 'Margin Collapse',
                href: 'marginCollapse'
            },
            inlineBlock: {
                title: 'Display: inline-block',
                href: 'inlineBlock'
            },
            position: {
                title: 'Позиционирование',
                href: 'position'
            },
            overflow: {
                title: 'Переполнение',
                href: 'overflow'
            },
            flow: {
                title: 'Поток',
                href: 'flow'
            },
            negativeMargin: {
                title: 'Отрицательный margin',
                href: 'negativeMargin'
            },
            clearfix: {
                title: 'Clearfix',
                href: 'clearfix'
            },
            hiding: {
                title: 'Способы скрыть элемент',
                href: 'hiding'
            },
            overlap: {
                title: 'Перекрытие (overlap)',
                href: 'overlap'
            },
            zIndex: {
                title: 'Z-index',
                href: 'zIndex'
            },
            opacity: {
                title: 'Opacity',
                href: 'opacity'
            },
            stackingContext: {
                title: 'Контекст наложения',
                href: 'stackingContext'
            }
        }
    }
