-
    var layout2 = {
        page: 'layout-part2',
        href: 'layout-part2.html',
        title: 'Layout - часть 2. Центрирование & липкий футер (sticky footer)',
        tech: ['html', 'css'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
