-
    var layout2 = {
        page: 'layout-part2',
        href: 'layout-part2.html',
        title: 'Layout - часть 2. Стилизация разметки верхнего уровня',
        tech: ['html', 'css'],
        subthemes: {
            centering: {
                title: 'Центрирование',
                href: 'centering'
            },
            stickyFooter: {
                title: 'Липкий футер (sticky footer)',
                href: 'stickyFooter'
            },
            grid: {
                title: 'Сетки',
                href: 'grid'
            }
        }
    }
