-
    var layout3 = {
        page: 'layout-part3',
        href: 'layout-part3.html',
        title: 'Layout - часть 3. Responsive словарь, медизапросы и брейк-поинты',
        tech: ['html', 'css'],
        subthemes: {
            responsive: {
                title: 'Layouts & Responsive design',
                href: 'responsive'
            },
            mediaQueries: {
                title: 'Media queries & breakpoints',
                href: 'mediaQueries'
            },
            breakpoints: {
                title: "Breakpoints: device oriented vs content oriented",
                href: 'breakpoints'
            },
            mobileFirst: {
                title: "Стратегии изменения layout'а: Mobile-first vs Desktop-first",
                href: 'mobileFirst'
            },
            progressiveEnhancement: {
                title: 'Progressive enhancement & graceful degradation',
                href: 'progressiveEnhancement'
            }
        }
    }
