-
    var layout1 = {
        page: 'layout-part1',
        href: 'layout-part1.html',
        title: 'Layout - часть 1. Боксовая модель, display, позиционирование, z-index',
        tech: ['html', 'css'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
