-
    var linksListsMenu = {
        page: 'links-lists-menu',
        href: 'links-lists-menu.html',
        title: 'Ссылки, списки, меню',
        tech: ['html', 'css'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
