-
    var linksListsMenu = {
        page: 'links-lists-menu',
        href: 'links-lists-menu.html',
        title: 'Ссылки, списки, меню',
        tech: ['html', 'css'],
        subthemes: {
            links: {
              title: 'Ссылки',
              href: 'links'
            },
            lists: {
              title: 'Списки',
              href: 'lists'
            },
            menu: {
              title: 'Меню',
              href: 'menu'
            },
        }
    }
