-
    var projectStructure = {
        page: 'project-structure',
        href: 'project-structure.html',
        title: 'Порядок в проекте: с чего начать и как поддерживать',
        tech: ['tools', 'tips'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
