-
    var pugJade = {
        page: 'pug',
        href: 'pug.html',
        title: 'Шаблонизатор pug',
        tech: ['pug'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
