-
    var pugJade = {
        page: 'pug',
        href: 'pug.html',
        title: 'Шаблонизатор Pug (Jade)',
        tech: ['pug'],
        subthemes: {
            pugBasics: {
              title: 'Создание и использование базового шаблона',
              href: 'pugBasics'
            },
            pugBase: {
              title: 'Создание и использование базового шаблона',
              href: 'pugBase'
            },
            pugBlocks: {
              title: 'Переопределение блоков, append, prepend',
              href: 'pugBlocks'
            },
            pugInclude: {
              title: 'Дробление кода на несколько файлов, подключение через include',
              href: 'pugInclude'
            },
            pugVars: {
              title: 'Переменные',
              href: 'pugVars'
            },
            pugIf: {
              title: 'Ветвление. Условное подключение блоков',
              href: 'pugIf'
            },
            pugLoop: {
              title: 'Циклы в pug. Генерация меню',
              href: 'pugLoop'
            },
            pugMixins: {
              title: 'Миксины для создания гибких блоков',
              href: 'pugMixins'
            }
        }
    }
