-
    var scss = {
        page: 'scss',
        href: 'scss.html',
        title: 'Препроцессор Sass (Scss)',
        tech: ['sass'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
