-
    var scss = {
        page: 'scss',
        href: 'scss.html',
        title: 'Препроцессор Sass (Scss)',
        tech: ['sass'],
        subthemes: {
            scssComments: {
                title: 'Комментарии',
                href: 'scssComments'
            },
            scssVars: {
                title: 'Переменные',
                href: 'scssVars'
            },
            scssDefault: {
                title: 'Переменные и !default',
                href: 'scssDefault'
            },
            scssInterpolation: {
                title: 'Интерполяция на примере подкючения шрифтов',
                href: 'scssInterpolation'
            },
            scssNesting: {
                title: 'Комбинаторы через вложенность',
                href: 'scssNesting'
            },
            scssNestingAmp: {
                title: 'Вложенность и &',
                href: 'scssNestingAmp'
            },
            scssNestedMQ: {
                title: 'Вложенные медиа-запросы',
                href: 'scssNestedMQ'
            },
            scssExtend: {
                title: 'Extend',
                href: 'scssExtend'
            },
            scssMixin: {
                title: 'Mixins',
                href: 'scssMixin'
            },
            scssPlaceholders: {
                title: 'Placeholders',
                href: 'scssPlaceholders'
            },
            scssMath: {
                title: 'Math',
                href: 'scssMath'
            },
            scssColorFunctions: {
                title: 'Color functions',
                href: 'scssColorFunctions'
            },
            scssFileStructure: {
                title: 'Import и модульность',
                href: 'scssFileStructure'
            }
        }
    }
