-
    var tables = {
        page: 'tables',
        href: 'tables.html',
        title: 'Стилизация таблиц. Responsive таблицы',
        tech: ['html', 'css', 'responsive'],
        subthemes: {
            markup: {
              title: 'Разметка для таблиц, атрибуты colspan и rowspan',
              href: 'markup'
            },
            tableWidth: {
                title: 'Ширина таблицы (полная сюрпризов)',
                href: 'tableWidth'
            },
            bordersBackground: {
                title: 'Рамки и фон',
                href: 'bordersBackground'
            },
            tableInTable: {
                title: 'Вложенные таблицы',
                href: 'tableInTable'
            },
            overflowInTables: {
                title: 'Переполнение и перенос слов', /*В т.ч. overflow из второй презентации*/
                href: 'overflowInTables'
            },
            scrollableTable: {
                title: 'Таблица со скроллом',
                href: 'scrollableTable'
            },
            dataAttributesForTables: {
                title: 'Responsive таблица с помощью data-* атрибутов',
                href: 'dataAttributesForTables'
            },
            responsiveTablesJS: {
                title: 'Responsive таблица с помощью JavaScript',
                href: 'responsiveTablesJS'
            }
        }
    }
