-
    var tables = {
        page: 'tables',
        href: 'tables.html',
        title: 'Стилизация таблиц. Responsive таблицы',
        tech: ['html', 'css', 'responsive'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
