-
    var textSemanticsStyle = {
        page: 'text-semantics-style',
        href: 'text-semantics-style.html',
        title: 'Текст. Семантика, стилизация. Типографика.',
        tech: ['html', 'css'],
        subthemes: {
            theme: {
              title: '',
              href: ''
            }
        }
    }
