-
  var transformations = {
      page: 'transformations',
      href: 'transformations.html',
      title: 'Трансформации',
      tech: ['css'],
      subthemes: {
          transformations2D: {
            title: '2D трансформации',
            href: 'transformations2D'
          },
          translate: {
            title: 'Перемещение элемента',
            href: 'translate'
          },
          centerViaTransform: {
            title: 'Центрирование при помощи transform: translate()',
            href: 'centerViaTransform'
          },
          scale: {
            title: 'Масштабирование элемента',
            href: 'scale'
          },
          rotate: {
            title: 'Вращение элемента',
            href: 'rotate'
          },
          skew: {
            title: 'Искажение элемента',
            href: 'skew'
          },
          skewOnlyBackground: {
            title: 'Искажение элемента без искажения текста',
            href: 'skewOnlyBackground'
          },
          transformOrigin: {
            title: 'Точка трансформации',
            href: 'transformOrigin'
          },
          multiTransforms: {
            title: 'Множественные трансформации',
            href: 'multiTransforms'
          },
          newContext: {
            title: 'Новый контекст наложения',
            href: 'newContext'
          },
          transformations3D: {
            title: '3D трансформации',
            href: 'transformations3D'
          }
      }
  }
