-
  var transformations = {
      page: 'transformations',
      href: 'transformations.html',
      title: 'Трансформации',
      tech: ['css'],
      subthemes: {
          theme: {
            title: '',
            href: ''
          }
      }
  }
