extends ../base/base-lect.pug

block layout-settings
    include ../lectures/themes/automation-part1.pug
    - var conf = automation1;
    - var pageTitle = conf.title;
    - var pageType = 'lecture'
    - var currentPage = conf.page;
    - var subthemes = conf.subthemes;
    -
      var listToRead = []
block main
    include ../base/mixins/mixin-slides.pug
    main.main
        .slides-wrap
            +main-slide(pageTitle, 'Имя автора лекции')
            .slide

            .slide()
                .-centered
                    +toRead("Полезные ссылки", listToRead)
