extends ../base/base-lect.pug

block layout-settings
    include ../lectures/themes/git.pug
    - var pageTitle = 'Git';
    - var pageType = 'lecture'
    - var currentPage = 'git';
block main
    main.main
        h1.h1= pageTitle
