extends ../base/base-lect.pug

block layout-settings
    include ../lectures/themes/git.pug
    - var pageTitle = 'HTML5 - Noveo Software University';
    - var pageType = 'index'
    - var currentPage = 'index';
block main
    main.main
        p.ind_bot
          b Необходимый уровень образования?
        p.ind_bot
          | Профессию верстальщика при желании может освоить любой студент, независимо от курса.
          | Но хороший средний балл в университете – это отличный показатель того, что ты способен прилагать усилия,
          | чтобы добиваться своих целей.
        p.ind_bot
          b Какие знания и навыки необходимы/желательны для участия?
        p.ind_bot
          | Тебе понадобится хорошее знание английского. Не обязательно хорошо говорить, но читать на английском тебе
          | придётся достаточно много. Тяга к головоломкам и логическим играм станет хорошим плюсам. Не помешает
          | чувство зрительной гармонии и понимание качества интерфейсов на уровне “удобно/неудобно пользоваться”.
          | Впрочем, это тоже вырабатывается.
        p.ind_bot
          | Если ты знаешь основные паттерны (для веб  особенно актуален MVC), то тебе тоже будет значительно проще.
        p.ind_bot
          b Чему мы учим на стажировке?
        p.ind_bot
          | Ты научишься создавать внешнюю сторону сайтов - то, что видит пользователь, и узнаешь, как сделать так,
          | чтобы сайт хорошо выглядел на планшете и телефоне. Во второй части курса ты сможешь реально оценить
          | полученные навыки и знания: в качестве заданий мы берём задачи, которые наши сотрудники выполняли на
          | реальных проектах.
        p.ind_bot
          | В ходе курса ты получишь опыт работы в команде, научишься разделять обязанности и согласовывать свои
          | действия с другими верстальщиками.
        p.ind_bot
          | Курс построен таким образом, что если ты будешь внимательно слушать и старательно выполнять задания
          | в аудитории и дома, на выходе ты будешь обладать достаточными знаниями и умениями для того, чтобы начать
          | работу в компании, которая занимается разработкой сайтов.
        .list_pract
          span
            b Что ещё ожидает тебя на стажировке?
          ul.point_blue
            li Оборудованное рабочее место.
            li Интересные лекции.
            li Наставники, готовые ответить на вопросы.
            li Опыт работы в команде.
            li Практический опыт в использовании современных инструментов разработки.
            li
              | Учебный проект, максимально похожий на настоящий. Куратор поможет с выбором посильной задачи и
              | подскажет, как ее реализовать.
            li Возможность пройти производственную практику.
            li Бесплатные обеды на летней стажировке.
