extends ../base/base.pug

block layout-settings
    - var pageTitle = 'HTML5 - Noveo Software University';
    - var pageType = 'index'
    - var currentPage = 'index';
    -
        var whatElse = [
            ' Оборудованное рабочее место.',
            ' Интересные лекции.',
            ' Наставники, готовые ответить на вопросы.',
            ' Опыт работы в команде.',
            'Практический опыт в использовании современных инструментов разработки.',
            'Учебный проект, максимально похожий на настоящий. <br> Куратор поможет с выбором посильной задачи и подскажет, как ее реализовать.',
            ' Возможность пройти производственную практику.',
            ' Бесплатные обеды на летней стажировке.'
        ]
block content
    include ../base/mixins/mixin-slides.pug
    main.main
        h1.h1 Стажировка по верстке в Noveo Software University

        h2.h2 Необходимый уровень образования?
        +p()
            | Профессию верстальщика при желании может освоить любой студент, независимо от курса.
            | Но хороший средний балл в университете – это отличный показатель того, что ты способен прилагать усилия,
            | чтобы добиваться своих целей.
        h2.h2 Какие знания и навыки необходимы/желательны для участия?
        +p()
            | Тебе понадобится хорошее знание английского. Не обязательно хорошо говорить, но читать на английском тебе
            | придётся достаточно много. Тяга к головоломкам и логическим играм станет хорошим плюсом. Не помешает
            | чувство зрительной гармонии и понимание качества интерфейсов на уровне “удобно/неудобно пользоваться”.
            | Впрочем, это тоже вырабатывается.
        +p()
            | Если ты знаешь основные паттерны (для веб  особенно актуален MVC), то тебе тоже будет значительно проще.
        h2.h2 Чему мы учим на стажировке?
        +p()
            | Ты научишься создавать внешнюю сторону сайтов - то, что видит пользователь, и узнаешь, как сделать так,
            | чтобы сайт хорошо выглядел на планшете и телефоне. Во второй части курса ты сможешь реально оценить
            | полученные навыки и знания: в качестве заданий мы берём задачи, которые наши сотрудники выполняли на
            | реальных проектах.
        +p()
            | В ходе курса ты получишь опыт работы в команде, научишься разделять обязанности и согласовывать свои
            | действия с другими верстальщиками.
        +p()
            | Курс построен таким образом, что если ты будешь внимательно слушать и старательно выполнять задания
            | в аудитории и дома, на выходе ты будешь обладать достаточными знаниями и умениями для того, чтобы начать
            | работу в компании, которая занимается разработкой сайтов.

        +list('Что ещё ожидает тебя на стажировке?', whatElse)

    block aside
        include ../blocks/common/aside-nav.pug
