extends ../base/base.pug
block layout-settings
        - var pageTitle = 'Home';
        - var pageTitle = 'other';
        - var currentPage = 'index';
block content
    main.main
        p hi i'm content
