extends ../base/base-lect.pug

block layout-settings
    include ../lectures/themes/layout-part3.pug
    - var conf = layout3;
    - var pageTitle = conf.title;
    - var pageType = 'lecture'
    - var currentPage = conf.page;
    - var subthemes = conf.subthemes;
    -
      var listToRead = []
block main
    include ../base/mixins/mixin-slides.pug
    main.main
        .slides-wrap
            +main-slide(pageTitle, 'Имя автора лекции')
        .slide
