extends ../base/base-lect.pug
block layout-settings
        - var pageTitle = 'Git';
        - var pageType = 'lecture'
        - var currentPage = 'lecture-git';
block main
    main.main
        p hi i'm content
