extends ../base/base-lect.pug

block layout-settings
    include ../blocks/common/lectures-list.pug
    - var pageTitle = 'Git';
    - var pageType = 'lecture'
    - var currentPage = 'lecture-git';

block main
    main.main
        h1.h1= pageTitle
