extends ../base/base-lect.pug

block layout-settings
    include ../lectures/themes/scss.pug
    - var conf = scss;
    - var pageTitle = conf.title;
    - var pageType = 'lecture'
    - var currentPage = conf.page;
    - var subthemes = conf.subthemes;
    -
        var listToRead = [{
            id: "toRead-1",
            title: "Sass Basics",
            href: "http://sass-lang.com/guide"
        }, {
            id: "toRead-2",
            title: "Sass Documentation",
            href: "http://sass-lang.com/documentation/file.SASS_REFERENCE.html"
        }]
block main
    include ../base/mixins/mixin-slides.pug
    main.main
        .slides-wrap
            +main-slide(pageTitle, 'Имя автора лекции')
            .slide

            .slide()
                .-centered
                    +toRead("Полезные ссылки", listToRead)
