extends ../base/base-lect.pug

block layout-settings
    include ../lectures/themes/text-semantics-style.pug
    - var conf = textSemanticsStyle;
    - var pageTitle = conf.title;
    - var pageType = 'lecture'
    - var currentPage = conf.page;
    - var subthemes = conf.subthemes;
    -
      var listToRead = []
block main
    include ../base/mixins/mixin-slides.pug
    main.main
        .slides-wrap
            +main-slide(pageTitle, 'Дмитрий Мещеряков')

            .slide(id=subthemes.semantics.href)
                h2.h2.-subtheme-h= subthemes.semantics.title
                .-centered
                    +p().
                        Семантика - раздел лингвистики, изучающий смысловое значение единиц языка.
                    +p().
                        Семантическая вёрстка, или семантический HTML-код, — это подход к созданию веб-страниц на языке HTML, основанный на использовании HTML-тегов в соответствии с их семантикой (предназначением), а также предполагающий логичную и последовательную иерархию страницы. Он противопоставляется подходу, при котором написание HTML-кода определяется внешним видом веб-страницы.
                    +remember()
                        | Текст - основной контент веб-страниц. Правильная разметка текста и использование подходящих тегов отличает профессионала от дилетанта.

            .slide
                h2.h2.-subtheme-h Абзацы и заголовки
                .slide__cols
                    .slide__col
                        +p().
                            Абзацы - основные строительные блоки, из которых состоит текст.
                        +code('html')
                            <p>Абзац — отрезок речи, состоящий из нескольких предложений.</p>
                        br
                    .slide__col
                        +p()
                            | В языке HTML для выделения заголовков предусмотрено целое семейство тегов: от
                            +inline-html()
                                <h1>
                            | до
                            +inline-html()
                                <h6>
                            |.
                            | Тег
                            +inline-html()
                                <h1>
                            | обозначает самый важный заголовок (заголовок верхнего уровня), а тег
                            +inline-html()
                                <h6>
                            | обозначает подзаголовок самого нижнего уровня.
                        .-hidden-on-slide
                            +p()
                                | Чаще всего на практике применяются заголовки
                                +inline-html()
                                    <h1>
                                | ,
                                +inline-html()
                                    <h2>
                                | и
                                +inline-html()
                                    <h3>
                                | .
                            +p()
                                | Не рекомендуется, чтобы на странице содержалось несколько заголовков
                                +inline-html()
                                    <h1>
                                | .
                            +p()
                                | При использовании подзаголовков не рекомендуется пропускать уровни заголовков, то есть после заголовка
                                +inline-html()
                                    <h1>
                                | должен идти подзаголовок
                                +inline-html()
                                    <h2>
                                | и только потом подзаголовок
                                +inline-html()
                                    <h3>
                                | .
                        h3.p Пример уровней заголовков (статья про CSS на Википедии)
                        +code('html')
                            <h1>CSS</h1>
                            <h2>Обзор</h2>
                            <h3>Цель создания CSS</h3>
                            <h3>Способы подключения CSS к документу</h3>
                            <h3>Иерархия элементов внутри документа</h3>
                            <h3>Правила построения CSS</h3>
                            <h4>Виды селекторов</h4>
                            <h5>Универсальный селектор</h5>
                            <h5>Селектор тегов</h5>
                            <h3>Классы и идентификаторы элементов</h3>
                            <h2>CSS-верстка</h2>

            .slide
                h2.h2.-subtheme-h Разделители текста
                .slide__cols
                    .slide__col
                        +p()
                            | Тег
                            +inline-html()
                                <br>
                            | делает перенос строки в тексте, не создавая при этом абзац. Используется, например, в разметке стихов или текстов песен.
                    .slide__col
                        +p()
                            | Тег
                            +inline-html()
                                <hr>
                            | используется для создания горизонтальной линии-разделителя.
                .-centered
                    h3.p Пример
                    +p()
                        | Мороз и солнце; день чудесный!
                        br
                        | Еще ты дремлешь, друг прелестный -
                        br
                        | Пора, красавица, проснись:
                        br
                        | Открой сомкнуты негой взоры
                        br
                        | Навстречу северной Авроры,
                        br
                        | Звездою севера явись!
                        hr
                    +p()
                        | Вечор, ты помнишь, вьюга злилась,
                        br
                        | На мутном небе мгла носилась;
                        br
                        | Луна, как бледное пятно,
                        br
                        | Сквозь тучи мрачные желтела,
                        br
                        | И ты печальная сидела -
                        br
                        | А нынче..... погляди в окно:
                        hr

            .slide
                h2.h2.-subtheme-h
                    | Теги
                    +inline-html()
                        <b>
                    | и
                    +inline-html()
                        <strong>
                .slide__cols
                    .slide__col
                        +p()
                            | Тег
                            +inline-html()
                                <b>
                            | служит для выделения частей текста с целью обратить внимание читателей (например, ключевые слова в документе, названия продуктов, первый абзац в статье).
                        h3.p Пример
                        +code('html')
                            <p>Хотя текст в тегах <b> и <strong> выглядит одинаково,
                            <b>(полужирное выделение)</b>, смысл у него разный.</p>
                        +p()
                            | Хотя текст в тегах
                            +inline-html()
                                <b>
                            | и
                            +inline-html()
                                <strong>
                            | выглядит одинаково
                            +bold-no-sematics('(полужирное выделение)')
                            |, смысл у него разный.
                        br
                    .slide__col
                        +p()
                            | Тег
                            +inline-html()
                                <strong>
                            | означает повышенную значимость своего содержимого.
                        h3.p Пример
                        +code('html')
                            <p>При разметке текста
                            <strong>стоит уделять особое внимание семантике</strong></p>
                        +p()
                            | При разметке текста
                            +bold-sematics-attention('стоит уделять особое внимание семантике')
                            | .

            .slide
                h2.h2.-subtheme-h
                    | Теги
                    +inline-html()
                        <i>
                    | и
                    +inline-html()
                        <em>
                .slide__cols
                    .slide__col
                        +p()
                            | Тег
                            +inline-html()
                                <i>
                            | содержит текст, выбивающийся из общего окружения, но не имеющий эмоциональной окраски.
                        h3.p Пример
                        +code('html')
                            <p>В переводе с латыни изречение
                            <i>Per aspera ad Astra</i> означает «Через тернии к звёздам».</p>
                        +p()
                            | В переводе с латыни изречение
                            +italic-sematics-intonation('Per aspera ad Astra')
                            | означает «Через тернии к звёздам».
                        br
                    .slide__col
                        +p()
                            | Тег
                            +inline-html()
                                <em>
                            | определяет текст, на который сделан особый акцент, меняющий смысл предложения.
                        h3.p Пример
                        +code('html')
                            <p>Казнить <em>нельзя</em>, помиловать!</p>
                        +p()
                            | Казнить
                            +italic-sematics-important('нельзя')
                            | , помиловать!
            .slide
                h2.h2.-subtheme-h
                    | Теги
                    +inline-html()
                        <s>
                    | и
                    +inline-html()
                        <del>
                .slide__cols
                    .slide__col
                        +p()
                            | Тег
                            +inline-html()
                                <s>
                            | представляет информацию, которая утратила свою актуальность.
                        h3.p Пример
                        +code('html')
                            <p>Купи по цене 999 р. вместо <s>1000 р.</s>!</p>
                        +p()
                            | Купи по цене 999 р. вместо
                            s 1000 р.
                            | !
                        br
                    .slide__col
                        +p()
                            | Тег
                            +inline-html()
                                <del>
                            | представляет информацию, которая была удалена в новой версии документа.
                        h3.p Пример
                        +code('html')
                            <p>В последующих версиях
                            <del>этот недостаток был удален</del>.</p>
                        +p()
                            | В последующих версиях
                            +space()
                            del этот недостаток был удален
                            | .

            .slide
                h2.h2.-subtheme-h Цитаты
                .slide__cols
                    .slide__col
                        +p()
                            | Тег
                            +inline-html()
                                <q>
                            | определяет короткую цитату, выделяя ее кавычками.
                        h3.p Пример
                        +code('html')
                            <q>Не стыдно не знать - стыдно не учиться.</q>
                        +p()
                            q Не стыдно не знать - стыдно не учиться.
                        br
                    .slide__col
                        +p()
                            | Тег
                            +inline-html()
                                <blockquote>
                            | определяет блок с цитатой.
                        h3.p Пример
                        +p()
                            | Тег
                            +inline-html()
                                <cite>
                            | используется для выделения источника или автора цитаты.
                        h3.p Пример
                        +code('html')
                            <p>В книге <cite>Мастер и Маргарита</cite> есть такая цитата:</p>
                            <blockquote>Никогда ничего не просите! Никогда и ничего, и в особенности у тех, кто сильнее вас. Сами предложат и сами всё дадут!</blockquote>
                        +p()
                            | В книге
                            +space()
                            cite Мастер и Маргарита
                            +space()
                            | есть такая цитата:
                            +space()
                            blockquote Никогда ничего не просите! Никогда и ничего, и в особенности у тех, кто сильнее вас. Сами предложат и сами всё дадут!

            .slide
                h2.h2.-subtheme-h Выделение текста
                .-centered
                    +p()
                        | Тег
                        +inline-html()
                            <mark>
                        | выделяет текст, на который стоит обратить внимание. В совеременных браузерах подсвечивается желтым цветом.
                    h3.p Пример
                    +code('html')
                        <p>Так можно выделить <mark>ключевое слово</mark>.</p>
                    +p()
                        | Так можно выделить
                        +space()
                        mark ключевое слово
                        +space()
                        |.

            .slide
                h2.h2.-subtheme-h Преформатированный текст
                .-centered
                    +p()
                        | Браузер игнорирует пробелы и переносы строк в редакторе кода. Для изменения этого поведения используется тег
                        +inline-html()
                            <pre>
                        | .
                    +p()
                        | Этот тег обозначает "предварительно отформатированный текст". Браузер сохраняет и отображает все пробелы и переносы, которые есть внутри тега
                        +inline-html()
                            <pre>
                        | .
                    +p().
                        Обычно этот тег используют для отображения примеров кода.
                    h3.p Пример
                    +code('html')
                        <pre>В этом     теге    все   пробелы сохранятся</pre>
                    +p()
                        pre В этом     теге    все   пробелы сохранятся

            .slide
                h2.h2.-subtheme-h
                    | Тег
                    +inline-html()
                        <time>
                .-centered
                    +p()
                        | Тег
                        +inline-html()
                            <time>
                        | используется для представления либо времени в 24-рехчасовом формате, либо точной даты по Григорианскому календарю (с опциональным указанием времени и часового пояса).
                    +p().
                        Этот элемент предназначен для представления дат и времени в машиночитаемом формате. Это облегчает клиентским приложениям добавление событий в календарь пользователя.
                    h3.p Пример
                    +code('html')
                        <p>Пост был опубликован <time datetime=”2017-02-03”>3 февраля 2017 года</time>.</p>
                    +p()
                        | Пост был опубликован
                        +space()
                        time(datetime='2017-02-03') 3 февраля 2017 года
                        +space()
                        |.
