.aside-nav {
    background: rgba(white, .9);
    box-sizing: content-box;
    flex: 0 0 auto;
    margin-left: -100%;
    text-align: right;
    transition: margin .5s;
    width: 100%;
    &.--sticky {
        margin-left: -100%;
        min-height: 100%;
        position: relative;
        width: 100%;
    }
    &.--bottom {
        bottom: auto;
        top: 0;
    }
    &.--hidden-mobile {
        margin-left: -($aside-width-mobile);
        min-height: $aside-mobile-button-width + 1rem;
        width: $aside-width-mobile;
        &.--sticky {
            margin-left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        &.--fixed {
            position: fixed;
        }
        &.--bottom {
            bottom: 0;
            top: auto;
        }
    }

    &__btn {
        &.--mobile {
            @include btn-reset();

            border: 2px solid $orange;
            border-radius: 5px;
            display: inline-block;
            font-size: 1rem;
            margin-right: .6rem;
            margin-top: .2rem;
            padding: .4rem;
            position: absolute;
            right: .5rem;
            top: 0;
            transition: all .5s;
            width: $aside-mobile-button-width - 1rem;
            z-index: 2;

            &:focus {
                background: darken(white, 2%);
                box-shadow: 0 0 5px $orange;
            }
            &:not(.--close) {
                right: -($aside-mobile-button-width) + 1rem;
                transform: rotate(90deg);
                transform-origin: top left;
            }
        }
    }
    &__nav {
        background: white;
        display: inline-block;
        min-height: 100vh;
        padding-top: $aside-width-mobile-small;
        position: relative;
        text-align: left;
        width: 100%;
        z-index: 1;
        &::before {
            background: inherit;
            content: "";
            height: 3000px;
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: -1;
        }
        .--hidden-mobile & {
            position: absolute;
            right: -($aside-width * 3);
        }
    }
    &__list-item {
        display: flex;
        padding: .8rem 0;
    }
    &__tech-wrap {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        width: .3rem;
        &.--horizontal {
            flex-direction: row;
            width: 100%;
        }
    }
    &__all-tech {
        min-height: 6rem;
        padding-left: 3rem;
    }
    &__tech {
        display: block;
        flex: 1 0 auto;
        position: relative;
        z-index: 3;
        &:nth-child(n+5) {
            display: none;
        }
        .--horizontal & {
            height: .5rem;
            &:nth-child(n+5) {
                display: block;
            }
        }
        &-text {
            background: inherit;
            color: white;
            content: attr(title);
            cursor: default;
            display: block;
            padding: .1rem .4rem .1rem;
            position: absolute;
            right: 0rem;
            white-space: nowrap;
            &:hover {
                padding: .2rem 2rem .1rem .5rem;
                z-index: 1;
            }
            .--horizontal & {
                position: relative;
                transform: rotate(90deg);
                transform-origin: top left;
                z-index: 3;
                &:hover {
                    padding: .1rem .4rem .1rem;
                }
            }
        }

        &.--css {
            background: lighten($dark-blue, 10%);
        }

        &.--html {
            background: $orange2;
        }

        &.--sass {
            background: $pink;
        }

        &.--jade {
            background: $green;
        }

        &.--responsive {
            background: $red;
        }

        &.--graphics {
            background: $violet;
        }

        &.--tools {
            background: $blue;
        }
        &.--optimization {
            background: darken($turq, 10%);
        }
        &.--js {
            background: darken($yellow, 4%);
        }
        &.--tips {
            background: $turq;
        }
    }
    &__title {
        font-size: 1.2rem;
        line-height: 1.5em;
        min-height: 3rem;
        padding: .5rem 1rem .5rem 1.5rem;
        &:not(.--active), &.--subtheme {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: $layout-wide-phone + 1) {
    .aside-nav {
        &__btn {
            &.--mobile {
                font-size: 1.2rem;
                margin-right: 0rem;
                margin-top: .5rem;
                padding: .5rem;
                right: 1rem;
                width: $aside-mobile-button-width;
            }
        }
    }
}

@media screen and (min-width: ($aside-width + 100)) {
    .aside-nav {
        &__nav {
            padding-left: 6rem;
        }
    }
}

@media screen and (min-width: $layout-middle +1) {
    .aside-nav {
        margin-left: -($aside-width);
        min-height: 100vh;
        width: $aside-width;
        &.--hidden-mobile {
            margin-left: -($aside-width);
            min-height: 100vh;
            width: $aside-width;
        }
        &.--sticky.--sticky {
            margin-left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: $aside-width;
        }
        &.--fixed.--fixed {
            position: fixed;
        }
        &.--bottom.--bottom {
            bottom: 0;
            top: auto;
        }
        &__btn {
            &.--mobile {
                display: none;
            }
        }
        &__nav {
            padding-left: 0rem;
            .--hidden-mobile & {
                position: static;
            }
        }
        &__list-item {
            &:not(.--active) {
                position: relative;
                &::after {
                    background: linear-gradient(to right, rgba(white, .01) 0%, white 25%);
                    bottom: 0;
                    content: "";
                    left: -10rem;
                    opacity: .5;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: all .5s;
                    z-index: 4;
                    .is-touch & {
                        display: none;
                    }
                }
                &:hover, &:focus, &:active {
                    &::after {
                        left: 100%;
                    }
                }
            }
        }
        &__tech-wrap {
            &.--horizontal {
                opacity: .65;
            }
        }
    }
}


@media screen and (min-width: $layout-wide+1) {
    .aside-nav {
        background-clip: padding-box;
        margin-left: -($aside-width-wide);
        width: $aside-width-wide;
        &.--hidden-mobile {
            margin-left: -($aside-width-wide);
            width: $aside-width-wide;
        }
        &.--sticky.--sticky {
            margin-left: -($aside-width-wide);
            width: $aside-width-wide;
        }
        &.--fixed {
            border-right: 1px solid transparent;
        }
    }
}
