.aside-nav {
	flex: 0 0 auto;
	margin-left: -($aside-width);
	min-height: 100vh;
	width: $aside-width;
	&.--sticky {
		margin-left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	&.--fixed {
		position: fixed;
	}
	&.--bottom {
		bottom: 0;
		top: auto;
	}
	&__btn {
		&.--mobile {
			display: none;
		}
	}
}

.aside-nav__list-item {
	display: flex;
	padding: .8rem 0;
	&:not(.--active) {
		position: relative;
		&::after {
			background: linear-gradient(to right, rgba(white, .01) 0%, white 25%);
			bottom: 0;
			content: "";
			left: -10rem;
			opacity: .5;
			position: absolute;
			right: 0;
			top: 0;
			transition: all .5s;
			z-index: 4;
			.is-touch & {
				display: none;
			}
		}
		&:hover, &:focus, &:active {
			&::after {
				left: 100%;
			}
		}
	}
}
.aside-nav__tech-wrap {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	width: .3rem;
	&.--horizontal {
		flex-direction: row;
		opacity: .65;
		width: 100%;
	}
}
.aside-nav__all-tech {
	min-height: 6rem;
	padding-left: 3rem;
}
.aside-nav__tech {
	display: block;
	flex: 1 0 auto;
	position: relative;
	z-index: 3;
	&:nth-child(n+5) {
		display: none;
	}
	.--horizontal & {
		height: .5rem;
		&:nth-child(n+5) {
			display: block;
		}
	}
	&-text {
		background: inherit;
		color: white;
		content: attr(title);
		cursor: default;
		display: block;
		padding: .1rem .4rem .1rem;
		position: absolute;
		right: 0rem;
		white-space: nowrap;
		&:hover {
			padding: .2rem 2rem .1rem .5rem;
			z-index: 1;
		}
		.--horizontal & {
			position: relative;
			transform: rotate(90deg);
			transform-origin: top left;
			z-index: 3;
			&:hover {
				padding: .1rem .4rem .1rem;
			}
		}
	}

	&.--css {
		background: lighten($dark-blue, 10%);
	}

	&.--html {
		background: $orange2;
	}

	&.--sass {
		background: $pink;
	}

	&.--jade {
		background: $green;
	}

	&.--responsive {
		background: $red;
	}

	&.--graphics {
		background: $violet;
	}

	&.--tools {
		background: $blue;
	}
	&.--optimization {
		background: darken($turq, 10%);
	}
	&.--js {
		background: darken($yellow, 4%);
	}
	&.--tips {
		background: $turq;
	}
}

.aside-nav__title {
	font-size: 1.2rem;
	line-height: 1.5em;
	min-height: 3rem;
	padding: .5rem 1rem .5rem 1.5rem;
	&:hover {
		text-decoration: underline;
	}
}

@media screen and (max-width: $layout-middle) {
	.aside-nav {
		background: rgba(white, .9);
		margin-left: -100%;
		text-align: right;
		transition: all .5s;
		width: 100%;
		&.--fixed:not(.--hidden-mobile), &.--sticky:not(.--hidden-mobile) {
			margin-left: -100%;
			min-height: 100%;
			position: relative;
			width: 100%;
		}
		&.--hidden-mobile {
			background: transparent;
			margin-left: -($aside-width-mobile);
			min-height: $aside-mobile-button-width + 1rem;
			width: $aside-width-mobile;
		}
		&.--bottom:not(.--hidden-mobile) {
			bottom: auto;
			top: 0;
		}
		&__btn {
			&.--mobile {
				@include btn-reset();

				border: 2px solid $orange;
				border-radius: 5px;
				display: inline-block;
				font-size: 1.2rem;
				margin-top: .5rem;
				padding: .5rem;
				position: absolute;
				right: 1rem;
				top: 0;
				transition: all .5s;
				width: $aside-mobile-button-width;
				z-index: 2;

				&:focus {
					background: darken(white, 2%);
					box-shadow: 0 0 5px $orange;
				}
				&:not(.--close) {
					right: -($aside-mobile-button-width) + 1rem;
					transform: rotate(90deg);
					transform-origin: top left;
				}
			}
		}
		&__nav {
			background: white;
			display: inline-block;
			min-height: 100vh;
			padding-top: 2rem;
			position: relative;
			text-align: left;
			width: $aside-width;
			z-index: 1;
			&::before {
				background: inherit;
				content: "";
				height: 3000px;
				position: absolute;
				top: 100%;
				width: 100%;
				z-index: -1;
			}
			.--hidden-mobile & {
				position: absolute;
				right: -($aside-width * 3);
			}
		}
	}
}

@media screen and (max-width: ($aside-width + 50)) {
	.aside-nav {
		&__nav {
			width: 100%;
		}
	}
}
