.h1 {
    color: $orange;
    font-size: 1.9rem;
    margin: 0 0 1rem;
}

.h2 {
    color: $orange;
    font-size: 1.7rem;
    margin: 1.5rem 0 1rem;
}

.h3 {
    color: $orange;
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem;
}

.h4 {
    color: $orange;
    font-size: 1.3rem;
    margin: 1.5rem 0 1rem;
}

.-black {
    color: $black;
}

@media screen and (min-width: $layout-wide-phone +1) {
}

@media screen and (min-width: $layout-middle +1) {
    .h1 {
        font-size: 2.2rem;
        margin: 0 0 1rem;
    }

    .h2 {
        font-size: 1.6rem;
        margin: 1.5rem 0 1.2rem;
    }

    .h3 {
        font-size: 1.4rem;
        margin: 1.5rem 0 1rem;
    }

    .h4 {
        font-size: 1.3rem;
        margin: 1.5rem 0 1rem;
    }
    .-subtheme-h {
        .-slides-layout & {
            color: $orange;
            font-size: 2rem;
            margin: -.5rem 0 2rem;
            padding: 0 10rem 0;
            text-align: center;
        }
    }
}
