.simple-table {
    @extend %horizontal-scroll-bg;

    overflow-x: auto;
    transform: scale(1);
    z-index: 1;
    pre[class*="language-"] {
        margin: 0;
    }
    table {
        max-width: 800px;
        position: relative;
        z-index: -1;
        &.-fixed-two-col {
            min-width: 600px;
            table-layout: fixed;
            width: 100%;
            td, th {
                &:first-child {
                    width: 60%;
                }
            }
        }
        .-slides-layout & {
            margin: auto;
            max-width: 80%;
        }
        .slide__col & {
            .-slides-layout & {
                max-width: 100%;
            }
        }
    }
    td, th {
        border-bottom: 1px solid lighten(gray, 40%);
        border-right: 1px solid lighten(gray, 40%);
        padding: .5rem 1rem;
        &:first-child {
            border-left: 1px solid lighten(gray, 40%);
        }
        .-slides-layout & {
            font-size: 1.4rem;
        }
    }
    tbody {
        th {
            text-align: left;
        }
    }
    tr:first-child {
        td, th {
            border-top: 1px solid lighten(gray, 40%);
        }
    }
    @media screen and (max-width: 500px) {
        table, tbody, tfoot, tr, td, thead, th {
            display: block;
        }
        th {
            border-bottom: none;
        }
        tr:first-child {
            td {
                border-top: none;
            }
        }
        td {
            border-left: 1px solid lighten(gray, 40%);
        }

        &.-mobile-data-th {
            thead, th {
                display: none;
            }
            td {
                &:before {
                    content: attr(data-th);
                    display: block;
                    margin: .5rem 0  .75rem;
                }
            }
            tr:first-child {
                td {
                    border-top: 1px solid lighten(gray, 40%);
                }
            }
        }
    }
}
