$orange: #f1652a;
$turq: #00a6a6;
$red: #ff3d00;
$pink: #f50057;
$violet: #4a148c;
$blue: #2962ff;
$dark-blue: #651fff;
$green: #689f38;
$dark-green: #00c853;
$orange2: #ff6f00;
$yellow: #ffc107;
$white: #fff;
$black: #323335;
$synt-dark-blue: #000080;
$synt-green: #050;
$synt-black: $black;
$synt-turq: darken($turq, 2%);
$cli-light-gray: darken(white, 10%);
$cli-green: lighten(saturate($green, 30%), 5%);
