$orange: #f1652a;
$turq: #00a6a6;
$red: #ff3d00;
$pink: #f50057;
$violet: #4a148c;
$blue: #2962ff;
$dark-blue: #651fff;
$green: #689f38;
$dark-green: #00c853;
$orange2: #ff6f00;
$yellow: #ffc107;
$white: #fff;
