$layout-max: 1440px;
$layout-wide: 1300px;
$layout-middle: 900px;
$layout-wide-phone: 400px;
/**/
$aside-width-wide: 600px;
$aside-width: 400px;
$aside-width-mobile: 4.6rem;
$aside-width-mobile-small: 3.6rem;
$aside-mobile-button-width: 12rem;
$aside-mobile-button-width-small: 10rem;
$basic-gap: 30px;
