$layout-max: 1600px;
$layout-wide: 1400px;
$layout-middle: 1280px;
$layout-wide-phone: 400px;
/**/
$aside-width-wide: 35rem;
$aside-width: 30rem;
$aside-width-mobile: 4.6rem;
$aside-width-mobile-small: 3.6rem;
$aside-mobile-button-width: 10rem;
$aside-mobile-button-width-small: 10rem;
$basic-gap: 1.9rem;
