footer.footer
    nav
        ul
            li.footer__nav-item
                a(href="https://university.noveogroup.ru/" target="_blank") O стажировках
            li.footer__nav-item
                a(href="https://noveogroup.ru/contacts" target="_blank") Контакты
