header
    h1
        .logo
            img(src="./static/images/logo.svg" alt="Noveo Software University")
        .html5 HTML5
    nav
        ul
            li
                a O стажировке
            li
                a Все лекции
            li
                a Контакты
