header
    .view-switcher
      span.view-switcher__icon
      span.view-switcher__text Режим слайдов
    h1.header-logo-wrap
        .header-logo-wrap__logo
            img(src="./static/images/logo.svg" alt="Noveo Software University")
        .header-logo-wrap__html5 HTML5
