header
    block header
        h1.header-logo-wrap
            a(href="/").header-logo-wrap__logo
                img(src="./static/images/logo.svg" alt="Noveo Software University")
            .header-logo-wrap__html5 HTML5
