.slides-switcher
    .slides-switcher__group
        button(type="button").slides-switcher__to-start#startSlide Start
        button(type="button").slides-switcher__prev#prevSlide Prev
    .slides-switcher__group
        span.slides-switcher__current-slide#currentSlide
    .slides-switcher__group
        button(type="button").slides-switcher__next#nextSlide Next
