- var technologies = ['html', 'css', 'sass', 'pug', 'responsive', 'optimization', 'tools', 'js', 'tips']

include themes/git.pug
include themes/graphic-editors.pug
include themes/html-basics.pug
include themes/css-basics.pug
include themes/text-semantics-style.pug
include themes/links-lists-menu.pug
include themes/layout-part1.pug
include themes/layout-part2.pug
include themes/layout-part3.pug
include themes/graphics-part1.pug
include themes/graphics-part2.pug
include themes/borders-shadows-gradients.pug
include themes/transformations.pug
include themes/animations.pug
include themes/tables.pug
include themes/forms-part1.pug
include themes/forms-part2.pug
include themes/pug.pug
include themes/scss.pug
include themes/automation-part1.pug
include themes/automation-part2.pug
include themes/project-structure.pug
include themes/css-frameworks.pug

-
    var data = [
        git,
        htmlBasics,
        cssBasics,
        textSemanticsStyle,
        linksListsMenu,
        layout1,
        layout2,
        layout3,
        graphics1,
        graphics2,
        bordersShadowsGradients,
        transformations,
        animations,
        tables,
        forms1,
        forms2,
        pugJade,
        scss,
        automation1,
        automation2,
        projectStructure,
        cssFrameworks,
        graphicEditors
    ]
